#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding: 12px;
  text-align: left;
  background:#fff;
  color:#f4511e;
}

.top-input-btn {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
}

.top-input-btn .create-btn {
  width: 20%;
  padding: 15px 0px;
  margin-bottom: 40px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

.icon:hover {
  color: #f4511e;
  cursor: pointer;
}

.create-account-modal-content, 
.delete-account-modal-content,
.specific-record-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 5px;
}

.create-account-modal-content .close-span, 
.delete-account-modal-content .close-span,
.specific-record-modal-content .close-span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.create-account-modal-content .close-span :hover {
  cursor: pointer;
  }

.create-account-modal-form,
.delete-account-modal-form,
.specific-record-modal-form {
  width: 100%;
  align-items: center;
  padding: 0 60px;
}

.delete-account-modal-form p {
  text-align: center;
}

.create-account-modal-form h1 {
  text-align: center;
} 

.specific-record-modal-form span {
  font-weight: 900;
}

.specific-record-modal-form p {
  margin-top: 10px;
}

.content-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 575.98px) {
  .modal-content {
    width: 100%;
  }
  }

@media (min-width: 576px) and (max-width: 767.98px) {
  .modal-content {
    width: 70%;
    padding: 30px;
  }

.top-input-btn .create-btn {
  width: 100%;
}
}
        
@media (min-width: 768px) and (max-width: 991.98px) {
  .modal-content {
    width: 60%;
    padding: 40px;
  }
  }
      
@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal-content {
      width: 60%;
      padding: 50px;
  }
  }
  
  @media (min-width: 1200px) {
    .modal-content {
      width: 40%;
      padding: 50px;
    }
  }