.btn {
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background:#f4511e;
  border: none;
  transition: background-color 0.5s, color 0.5s;
  color: #fff;
}

.btn-sm {
  padding: 2px 10px;
  font-size: 14px;
  width: 30%;
}

.btn-md {
  padding: 10px 12px;
  font: 16px;
  width: 30%;
  font-size: 15px;
}

.btn-lg {
  padding: 14px 20px;
  font-size: 18px; 
  width: 80%;
}

.btn-block {
  font-size: 18px;
  border: 2px solid #f4511e;
  transition: border 0.5s, color 0.5s;
  border-radius: 5px;
  }
  
.btn:hover {
  color:#fff;
  background-color:#d84315;
  }
  
.btn-block:hover {
  color:#f4511e;
  border: 2px solid #f4511e;
  }

.cancel {
  padding: 10px 12px;
  font: 16px;
  width: 30%;
  font-size: 15px;
  color: #f4511e;
  border: #f4511e 1px solid;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

.cancel:hover {
  color:#fff;
  background: #f4511e;
}

.btn-space {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-center {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
  